:root {
  --bg-color-one: #24353f;
  --main-color: #17a2b8;
  --secondary-color: #80bdff;
  --warning-message-color: RGB(220, 53, 69);
  --logout-btn-color: #ffc107;
  --input-border-color: #ced4da;
  --input-ph-color: #b6b6b6;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}

.container-fluid {
  background-color: var(--bg-color-one);
}

.nav-toggle-btn {
  background-image: url(../images/bars.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.collapsed {
  height: 0;
  overflow: hidden;
  transition: all 0.2s;
}

.open {
  height: 36px;
}

main .box h1 {
  color: var(--main-color);
  font-family: "Titillium Web", sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
}

.form-control {
  background-color: var(--bg-color-one);
  border-color: var(--input-border-color);
  color: white !important;
}

.form-control::placeholder {
  color: var(--input-ph-color);
}

.form-control:focus {
  border-color: var(--secondary-color);
  box-shadow: none;
  background-color: var(--bg-color-one);
}

form button.login {
  background-color: var(--bg-color-one);
  color: var(--main-color);
  border-color: var(--main-color);
}

form button.login:hover {
  background-color: var(--main-color);
  border-color: var(--main-color);
  color: white;
}

.box p a {
  color: white;
  text-decoration: none;
}

.box p a:hover {
  text-decoration: underline;
}

.box #forgotPasswordLink,
.box #ReturnToLoginLink {
  color: var(--main-color);
}

.box a#forgotPasswordLink:hover,
.box #ReturnToLoginLink:hover {
  color: var(--secondary-color);
}
